body{
    background: darkgreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content{
    background: darkolivegreen;
    color: black;
    width: 70%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

header, footer{
    background: darkolivegreen;
    padding: 5px;
    color: black;
}

#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style-type: none;
    display: inline-block;
}

#main-nav a{
    color: darkseagreen;
    text-decoration: none; 
    border-bottom: 1px solid transparent;
}

#main-nav a:hover{
    color: cadetblue;
    border-bottom: 1px solid darkseagreen;
}

header h1{
    text-align: center;
}

footer p{
    text-align: center;
}