body {
  background-color: #663300;
  font-family: Courier New, Lucida Console, Monaco;
}
h1 {
  color: #999966;
  text-align: center;
}
/*add comments in CSS by using ctrl and then /*/
.assign {
  background-color: #003300;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img {
  width: 200px;
  margin: 10px;
}
