/* Structure */
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid darkslategray;
    padding: 0px;
    background-color: white;
    box-sizing: border-box;
}

#content{
    background-color: darkseagreen;
    width: 100%;
    margin: auto;
    padding: 0px;
}

#main-content h2{
    color: darkslategray;
    margin-left: 30px
}

header, footer{
    padding: 5px;
    color: darkslategray;
}

.idea1{
    background-color: rgb(69, 105, 105);
    color: darkseagreen;
    padding: 10px 10px;
}

#idea2{
    background-color: darkslategray;
    color: darkseagreen;
    padding: 10px 10px;
}

.idea1, #idea2{
    margin: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.title1, .title2, .title3, .title4{
    background-color: #3d8c74;
    color: white;
    padding: 10px 10px;
    box-sizing: border-box;
}

.title2, .title4{
    display: none;
}

/* Images */
.rightimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#leftimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Navigation and Links */
#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style-type: none;
    text-align: center;
    padding: 5px;
    background-color: darkslategray;
    border-right: 1px solid darkseagreen;
    border-bottom: 1px solid darkseagreen;
}

#main-nav a{
    color:white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

#main-nav a:hover{
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
}

#content-list{
    color: white;
    background-color: darkslategray;
    padding: 10px 10px;
    box-sizing: border-box;
}

#content-list ul{
    list-style-type: none;
    padding-left: 0px;
}

#content-list a{
    color: white;
    text-decoration-color: white;
}

/* Typography */
header h1{
    text-align: center;
}

footer p{
    text-align: center;
}

.title1, .title2, .title3, .title4 h3{
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px){
    #main-nav ul{
        display: flex;
    }

    #main-nav li{
        flex: 1;
    }

    #main-content h2{
        margin-left: 150px;
    }

    .idea1, #idea2{
        margin-right: 150px;
        margin-left: 150px;
    }

    .idea1{
        display: flex;
        gap: 20px;
    }

    #idea2{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .idea-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .rightimg{
        max-width: 40%;
        height: auto;
    }

    #leftimg{
        max-width: 40%;
        height: auto;
        margin: 0;
    }

    #bottom-content{
        display: flex;
        margin-top: 10px;
        align-items: flex-start;
        height: auto;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .title1, .title2, .title3, .title4{
        display: flex;
        justify-content: flex-start;
        max-width: 25%;
    }

    #content-list{
        flex: 2;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}